<!DOCTYPE html>
<html>
  <head> 
  <title> Tush Careers  </title>
  </head>
  <body>
    <h1> Tush Careers </h1>
    
    <img src="https://6878b222-75aa-4be4-b92f-6cbe91fdae09-00-1trbxj7ob6fbz.janeway.replit.dev//static/Banner.jpg " height="320"/n>

    
<h2>About Tush</h2>
    <p> At Tush Careers, we connect employers with top talent across various industries. Our platform provides access to a diverse database of qualified candidates and advanced search tools to help you find the perfect hire quickly and efficiently. With customizable job listings and a user-friendly interface, we streamline the recruitment process, making it easier than ever to build your dream team. Join Tush Careers today and discover a better way to hire.  </p>
<h2>  Open Positions </h2>
    <p>TODO:  </p>
    <button> Contact Us </button>

  </body>
</html>